<div class="Input">
    <label class="Input__label">{{label}}</label>
    <input class="Input__input" type="{{type}}" name="{{name}}" value="{{value}}" {{#if pattern}}pattern="{{pattern}}"{{/if}}>
    {{#if error}}
        <span class="Input__error">{{error}}</span>
    {{/if}}
</div>
