<div class="EditableEntry">
    <label class="EditableEntry__label">{{label}}</label>
    <input class="EditableEntry__input" type="{{type}}" name="{{name}}" value="{{value}}" {{#if pattern}}pattern="{{pattern}}"{{/if}} {{#if disabled}}disabled="true"{{/if}}>
</div>